@model FoodOrderingApplication.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<hggroup class="title">
    <h2>@ViewBag.Title.</h2>
    <h3>@Model.Name</h3>
</hggroup>

<div>Location:@Model.Location</div>